@import 'src/styles/mixins';
@import 'src/styles/variables';

.user-item {
	@include flex-horizontal-center;
	background-color: $bg-block;
	padding: 7px 15px;
	border-radius: 13px;
	color: $white;
	font-size: 17px;

	&:disabled {
		cursor: default;
	}

	&:not(:disabled) {
		@include transition(background-color);

		&:hover {
			background-color: ligten($gray, 7%);
		}
	}

	&.gray {
		background-color: $gray;
	}

	> img {
		width: 30px;
		height: 30px;
		border-radius: 50px;
		margin-right: 5px;
	}

	> span {
		margin-left: 5px;
	}
}
